
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IQChair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/media/images/favicon.ico" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static '/css/style.css' %}">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

        <div class="wrapper-content container-fluid justify-content-center" >

            
            {% include 'navbar.html' %}

            <div class="trash">


                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>
                <div>ciwHgvaklfhibowelghfbvaw</div>

            </div>


            {% block content %}
            {% endblock content %}

            {% include 'footer.html' %}

        </div>

        



    <script src="{% static '/js/index.js' %}"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

</body>
</html>
