{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Belizzi</title>

    <!-- Custom styles -->
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/margins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/fonts.css' %}" />


</head>

<body>
        {% include 'navbar.html' %}

            {% block content %}

            {% endblock content %}

     	{% include 'footer.html' %}


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static '/js/handleCounter.js' %}"></script>
    <script src="{% static '/js/index.js' %}"></script>

    <script>
		var boxes = $('div.restaurant-block');

		boxes.click(function(){
		  $(this).toggleClass('active');
		});

</script>
<script>
		var checkout = $('div.quick-checkout');
		var checkoutOpen = $('div.dash-to-open')
		checkoutOpen.click(function(){
		  checkout.toggleClass('active');
		});
</script>
<script>
    $(function ($) {
        var options = {
            minimum: 1,
            maximize: 10,
            onChange: valChanged,
            onMinimum: function(e) {
                console.log('reached minimum: '+e)
            },
            onMaximize: function(e) {
                console.log('reached maximize'+e)
            }
        }
        $('#handleCounter').handleCounter(options)
    })
    function valChanged(d) {
    }
</script>

</body>
</html>
