<!--
<div class="row justify-content-end see_all">
    <div class="col-3 justify-content-end see_all_cont">
        <a href="#" class="url see_all">See all(9)</a>
    </div>
</div>
<div class="categories_navbar row justify-content-between">
    <div class="categories_navbar_item1 categories_navbar_item d-flex justify-content-center">
        <a href="#" class="url">
            <div class="row d-flex justify-content-center">
                <div class="navbar_gradient" id="pizza_gradient"></div>
                <div class="navbar_image" id="pizza_img"></div>
                <div class="navbar_title">Pizza</div>
            </div>
        </a>
    </div>

    <div class="categories_navbar_item2 categories_navbar_item">
        <a href="#" class="url">
            <div class="row d-flex justify-content-center">
                <div class="navbar_gradient" id="burger_gradient"></div>
                <div class="navabr_image" id="burger_img"></div>
                <div class="navbar_title">Burgers</div>
            </div>
        </a>
    </div>

    <div class="categories_navbar_item3 categories_navbar_item">
        <a href="#" class="url">
            <div class="row d-flex justify-content-center">
                <div class="navbar_gradient" id="desert_gradient"></div>
                <div class="navbar_image" id="desert_img"></div>
                <div class="navbar_title">Deserts</div>
            </div>
        </a>
    </div>

    <div class="categories_navbar_item4 categories_navbar_item">
        <a href="#" class="url">
            <div class="row d-flex justify-content-center">
                <div class="navbar_gradient" id="drink_gradient"></div>
                <div class="navbar_image" id="drink_img"></div>
                <div class="navbar_title">Drinks</div>
            </div>
        </a>
    </div>
</div>
-->
<div class="navbar-categories container-fluid justify-content-center">
    <div class="see-all d-flex container-fluid-fluid justify-content-end">
        <a href="#" class="see-all-url">See all(9)</a>
    </div>
    <div class="row navbar-space  justify-content-aroun">
        <div class="col-3 navbar-item navbar-item1">
            <a href="#">
                <div class="row justify-content-center">
                    <div class="navbar_gradient" id="pizza_gradient"></div>
                    <div class="navbar_image" id="pizza_img"></div>
                    <div class="navbar_title">Pizza</div>
                </div>
            </a>
        </div>
        <div class="col-3 navbar-item navbar-item2">
            <a href="#">
                <div class="row justify-content-center">
                    <div class="navbar_gradient" id="burger_gradient"></div>
                    <div class="navbar_image" id="burger_img"></div>
                    <div class="navbar_title">Burgers</div>
                </div>
            </a>
        </div>
        <div class="col-3 navbar-item navbar-item3">
            <a href="#">
                <div class="row justify-content-center">
                    <div class="navbar_gradient" id="dessert_gradient"></div>
                    <div class="navbar_image" id="dessert_img"></div>
                    <div class="navbar_title">Deserts</div>
                </div>
            </a>
        </div>
        <div class="col-3 navbar-item navbar-item4">
            <a href="#">
                <div class="row justify-content-center">
                    <div class="navbar_gradient" id="drink_gradient"></div>
                    <div class="navbar_image" id="drink_img"></div>
                    <div class="navbar_title">Drinks</div>
                </div>
            </a>
        </div>
    </div>
</div>










































