{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <div id="wrapper">
      <div class="product-window">
        <div class="info-section">
          <button id="back-btn" onclick="history.back();return false;"><i class="ion-arrow-left-c"></i></button>
          <div class="info-sect-text">
            <h2>ABOUT US</h2>
            <h3>Chronologie</h3>
          </div>
        </div>
          <div class="textcenter"></div>
      </div>
    </div>

{% endblock %}