{% extends 'base.html' %}
{% load static %}

{% block content %}

    




<!--
<div class="rela-block image-layout-selector">
    <div class="floated layout-option columns active">
        <div class="abs-center bars"></div>
    </div>
</div>

<div class="rela-block image-grid-container">
    <div class="floated image-column">
        {% for prod in product_item %}
        <div class="rela-block image">
            <div class="image-hover">
                <a class='butn' href="{% url 'product' prod.id %}">
                    <img class="img" src="{{ prod.image.url }}">
                </a>
                <div class="overlay"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
-->



{% endblock %}